.fall-in-love {
    &__container {
        @include flex($dir: column-reverse, $ai: stretch, $jc: flex-end);

        position: relative;
        background-color: $green-light;

        @media screen and (min-width: $desktop-sm) {
            flex-direction: row;
        }

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            z-index: 0;
            height: calc(100% + 10px);
            width: 100%;
            background-color: $green-light;
        }
    }

    &__fluid {
        position: relative;
        flex-shrink: 0;

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            z-index: 0;
            height: calc(100% + 10px);
            width: 100%;
            background-color: $white;
        }
    }

    &__content {
        @include flex($gap: $spacer-2);

        position: relative;
        z-index: 1;
        padding-top: $spacer-9;
        padding-bottom: $spacer-lg;

        @media screen and (min-width: $desktop-sm) {
            gap: $spacer-7;
            padding-top: 205px;
            padding-bottom: 270px;
        }
    }

    &__img {
        width: 50px;
        height: 50px;

        @media screen and (min-width: $desktop-sm) {
            width: 99px;
            height: 99px;
        }
    }

    &__text {
        @include flex($dir: column, $gap: $spacer-2);

        font-size: 14px;
        font-family: $roboto;
        line-height: 160%;

        @media screen and (min-width: $desktop-sm) {
            gap: $spacer-5;
            font-size: 20px;
        }
    }

    &__image {
        position: relative;
        width: 95%;
        height: 100%;
        object-fit: cover;
        padding-top: $spacer-4;
        background-color: $white;
    
        @media screen and (min-width: $tablet) {
            width: 75.4%;
        }
    
        @media screen and (min-width: $desktop-sm) {
            padding-top: 0;
            width: 100%;
        }
    }
}