$white: #FFFFFF;

$black: #232043;
$black-opacity: rgba($black, 0.3);
$black-text: #372F54;

$grey: #52506D;
$grey-lighter: #DCD9E5;
$grey-light: #EEEDF6;

$purple: #815AF0;
$pink: #F26F87;
$pink-dark: #B057BB;
$red: #CA5D71;

$green: #2B6D42;
$green-light: #B4D0BE;

$orange: #D28E3D;
$orange-light: #FFD494;
$orange-text: #553122;
