$roboto: 'Roboto';
$robotoMedium: 'Roboto Medium';

$rhd: 'Red Hat Display';
$rhdMedium: 'Red Hat Display Medium';
$rhdSemiBold: 'Red Hat Display SemiBold';
$rhdSemiBoldItalic: 'Red Hat Display SemiBoldItalic';

$font-primary: $rhd;
$font-secondary: $robotoMedium;
