@import './../../../styles/utils/all';

.item {
    @include flex($dir: column, $jc: center, $ai: center);
    
    position: static;
    padding: 32px 0 44px;
    font-size: 10px;
    line-height: 160%;
    z-index: 2;
}

.circle {
    @include flex($jc: center, $ai: center);

    width: 24px;
    height: 24px;
    background-color: $white;
    border: 3px solid #FFB47D;
    border-radius: 50%;
    transition: 1s;
}

.fill {
    background-color: #FFB47D;
}

.empty {
    border-color: $grey-light;
    background-color: $grey-light;

    svg {
        opacity: 0;
    }
}

.text {
    position: absolute;
    position: absolute;
    bottom: 0;
    width: 70px;
    text-align: center;
    font-family: 'Roboto';
}
